<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "タスク詳細", task %>
    </p>
  <% end %>
</div>

<%= link_to "ステップ式フォーム", new_step_path %>

<%= link_to "タスクの新規作成", new_task_path %>
