<p style="color: green"><%= notice %></p>

<%= render @task %>

<div class="text-red">
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

<%= link_to "ツイッター", "https://twitter.com/share?url=#{CGI.escape(root_url + 'images/ogp.png?text=' + @task.name)}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" %>



  <%= button_to "Destroy this task", @task, method: :delete %>
</div>

