<p style="color: green"><%= notice %></p>

<%= render @task %>

<div class="text-red">
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= link_to "ツイッター","https://twitter.com/share?url=#{task_path(@task)}&text=【テスト】%0a%0a#{@task}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア"%>



  <%= button_to "Destroy this task", @task, method: :delete %>
</div>

